{% extends "blog/admin/base.html" %}
{% block title %}Admin: Publishing Post{% endblock %}
{% block body %}
<div class="block">
	<div class="hd">
  		<h2>Admin: Publishing post.</h2>
	</div>
	<div class="bd">
  {% if post.published %}
    {% if draft %}
      <p>Your changes have been saved (but not published)</p>
    {% else %}
      <p>Your post has been published!</p>
      <p><a href="{{post.path}}">View your post</a></p>
    {% endif %}
  {% else %}
    <p>Your draft post has been saved.</p>
  {% endif %}
	</div>
</div>
{% endblock %}
